body { margin:0 auto; padding:0; width: 978px; background: #949494;}

#style_container {
width: 100%;
margin: auto;
background: #ffffff;
}
#style_header {                 /*TOP BAR*/
height: 100px;
background: #5f70b3;
}
#style_content {                /*MAIN TEXT*/
/*width: 100%;*/
background: #ebebeb;
font-size: 17px;
padding-left: 35px;
padding-right: 35px;
}
#style_title {                  /*TOP BAR TITLE*/
padding-top: 14px;
padding-bottom: 12px;
padding-left: 84px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size: 34px;
font-style: italic;
color: #000000;
}
#style_subtitle {               /*TOP BAR SUBTITLE*/
padding-top: 7px;
padding-left: 35px;
font-family:Georgia, "Times New Roman", Times, serif;
font-weight: bold;
font-size: 16px;
color: #000000;
}

a { text-decoration: none; color: #0069ba; }                  /*HYPERLINK DECORATION*/
a:hover { color: #008716; text-decoration: underline; }
/*a:visited { color: #0066CC; text-decoration: none} */

/*p, ul { font-size: 1em; line-height: 1.2em; color: #000000; } */

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }     /*HEADER FONT*/
h1 { font-size: 2.2em; margin-top: 0.4em; margin-bottom: 0.4em; }
h2 { font-size: 1.8em; margin-top: 0.4em; margin-bottom: 0.4em; }
h3 { font-size: 1.4em; margin-top: 0.4em; margin-bottom: 0.4em; }
h4 { font-size: 1.2em; margin-top: 0.4em; margin-bottom: 0.4em; }
/*h1 { font-size: 2.5em; }*/
/*h2 { font-size: 2.1em; }*/
/*h3 { font-size: 1.7em; }*/
/*h4 { font-size: 1.4em; }*/

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #bcbcbc; font-size: .8em; padding-left: 20px; padding-bottom: 1px;}     /*FOOTER*/
