<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/earth.png">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">   **** This makes it more mobile friendly -->
    <!-- <meta name="viewport" content="initial-scale=1">   **** This makes it more mobile friendly -->
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>

  <body>
    
  <div id="style_container">
   <div id="style_header">
   <div id="style_title">Witek's TP Database</div>
   <div id="style_subtitle">  </div>
     
 <div id="style_content">   
  
<div class="home">
   <br> 
  {{ content }}
   <br>
</div>

  <footer>
   <ul>
   <li>Contact: Witold Bagniewski wbagniewski@lmd.ens.fr</li>
   </ul>
  </footer>   
  </body>
   
</html>
